body{
    background-color: #b9c3fc;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 50px;
}

h1, h3{
    color: #285757;
}
